<!DOCTYPE html>
<head lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Communews.</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="google-signin-client_id" content="{{ google_oauth2_client_id }}">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <!-- Favicons -->
  <link href="{{url_for('static',filename='img/44301.jpg')}}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/swiper-bundle.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/bootstrap-icons.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <!-- CSS Files -->
  <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>

  <!-- register -->
  <body>

    <header>
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <div>
            <a class="navbar-brand" href="/">
              <img src="{{url_for('static',filename='img/44300_nobg.png')}}" class="logo">
              Communews
            </a>
          </div>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>   
    
          <div class="d-flex justify-content-end collapse navbar-collapse navigation" id="navbarSupportedContent">
            <form class="search-block d-flex m-auto" role="search">
              <input class="form-control me-2" type="search" placeholder="搜尋" aria-label="Search">
              <button class="btn btn-outline-success btnSearch" type="submit">搜尋</button>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link nav-home" aria-current="page" href="/">首頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-login" href="/login" role="button">登入</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-register" href="/register" role="button">註冊</a>
              </li>
            </ul>
          </div>
        </div>      
      </nav>
    </header>
    

    <!-- Sign up block -->
    <div class="register-container">
      
      <div class="mx-5 img-container">
        <img src="{{url_for('static',filename='img/44300_nobg.png')}}" class="img-center">
      </div>
      
      <div class="wrapper bg-white">
        <!-- Flash 訊息顯示區域 -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flash-messages">
            {% for message in messages %}
              <p></p>
              <label>{{ message }}</label>
            {% endfor %}
          </ul>
        {% endif %} 
      {% endwith %}
        <form class="register-form needs-validation" method="post" novalidate>
          <p class="register-title">
            Sign Up
          </p>
          
          <!-- Uesrname -->
          <!-- <div class="form-floating my-2">
            <input type="text" class="form-control" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">使用者名稱</label>
            <div class="invalid-feedback">
              請輸入使用者名稱。
            </div>
          </div> -->
          
          <div class="form-floating my-2">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" required>
            <label for="floatingInput">Email</label>
            <div class="invalid-feedback">
              請輸入電子郵件。
            </div>
          </div>
  
          <div class="form-floating my-2">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
            <label for="floatingPassword">密碼</label>
            <div class="invalid-feedback">
              請輸入密碼。
            </div>
          </div>

          <div class="form-floating my-2">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password-repeat" required>
            <label for="floatingPassword">請再次輸入密碼</label>
            <div class="invalid-feedback">
              請輸入密碼。
            </div>
          </div>
  
  
          <div class="d-grid gap-2">
            <input class="btn register-btn" type="submit" value="註冊">
          </div>        
          
          <hr>

          <div>
            <p>已經有帳號?<a class="btn btn-lg login-register-btn mx-3" href="/login" role="button">登入</a></p>
          </div>
        
        </form>
      </div>
      <!-- end of wrapper -->
    </div>       
    <!-- Sign up block -->  
  
      <!-- Bootstrap js -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
      <!-- <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> -->
      <script src="{{url_for('static', filename='js/main.js')}}"></script>
      
      <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
        })()
      </script>
  </body>
</html> 